@{
    Layout = "_Layout";
    ViewData["Title"] = "Contact Us";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">@ViewData["Title"]</h2>
    <p class="text-center mb-5">Looking to get in touch? Here's how you can reach us:</p>

    <div class="row">
        <div class="col-md-6">
            <div class="mb-4">
                <h3>Email Us</h3>
                <p><a href="mailto:info@theproject.com" class="btn btn-outline-dark"><i class="fas fa-envelope"></i> info@theproject.com</a></p>
            </div>

            <div class="mb-4">
                <h3>Call Us</h3>
                <p><i class="fas fa-phone"></i> +359 88 717 810</p>
            </div>

            <div class="mb-4">
                <h3>Visit Us</h3>
                <p>
                    <i class="fas fa-map-marker-alt"></i> 123 Online Learning Street<br>
                    Education City, EC 12345<br>
                    Open 24/7
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-4">
                <h3>Follow Us</h3>
                <p>
                    <a href="https://www.facebook.com/" target="_blank" class="btn btn-primary"><i class="fab fa-facebook-f"></i> Facebook</a>
                    <a href="https://twitter.com/?lang=en" target="_blank" class="btn btn-dark"><i class="fa fa-x-twitter"></i>X(Twitter)</a>
                    <a href="https://www.youtube.com/" target="_blank" class="btn btn-danger"><i class="fab fa-youtube"></i> YouTube</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h3>Find Us Here</h3>
            <p>Here's where you can find our main office:</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.058627423596!2d23.353465915835675!3d42.66659297916884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa853a0990cc95%3A0x6962b0a4a6598d23!2sSoftware%20University%2C%20Sofia!5e0!3m2!1sen!2sbg!4v1642617961953"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>