@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Welcome to <span class="text-primary">TheProject</span>: Online Course Platform</h1>
        <p class="lead mt-3">To subscribe and attend an upcoming course, please <a asp-controller="User" asp-action="Login" class="text-success text-decoration-none"><i class="fas fa-sign-in-alt"></i> log in</a>.</p>
        <p class="lead">You don't have an account yet? <a asp-controller="User" asp-action="Register" class="text-primary text-decoration-none"><i class="fas fa-user-plus"></i> Sign up</a> right now to get access to join the best courses!</p>
        <hr class="my-4">
        <div class="row justify-content-center mt-4">
            <div class="col-md-4">
                <a asp-controller="Course" asp-action="All" class="btn btn-lg btn-info"><i class="fas fa-book-open"></i> Browse Courses</a>
            </div>
        </div>
    </div>
</div>
