@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TheProject: Online Course Platform</h1>
    <p>To subscribe and attend to an upcoming course, please log in.</p>
    <p>You don't have an account yet? <a style="text-decoration: none" asp-controller="User" asp-action="Register">Sign up</a> right now to get access to join the best courses!</p>
</div>
